body{
  background-color: rgb(37, 37, 37);
  color: white;
}
.cont1{
  background-color: black;
}

input {
  /* width: 50px; */
  text-align: center;
}

.inp1 {
  margin-bottom: 15px; /* Space between input sections */
}

.form-control {
  width: auto; /* Allow inputs to be flexible */
}

@media (max-width: 576px) {
  .form-control {
    width: 100%; /* Full width on small screens */
  }
}


